# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Ignore all CSV/Excel by default
*.csv
*.xlsx

# Keep IDIP deployment datasets
!all data/
!all data/final_data/
!all data/final_data/*.csv

# Keep geojson files
!geojson/
!geojson/**/*.geojson

# Large files
*.zip

# Model files
*.pkl
*.joblib